*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 60vh;
    background-color: rgba(230, 237, 243, 0.719);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.849);
}
.btn-wrapper{
    display: flex;
    width: 70%;
    height: 50px;
    padding: .3em .5em;
    justify-content: space-evenly;
}
button {
    border: none;
    width: 45%;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: rgb(22, 22, 22);
    background-color: rgba(98, 98, 245, 0.733);
    border: 1px solid rgba(255, 255, 255, 0.849);
}
#count{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    
}
button:hover {
    background-color: rgba(208, 243, 231, 0.678);
}
h3{
    font-size: 20px;
    color: rgb(22, 22, 22);
}
.output{
    padding: 1em 2em;
    flex-direction: column;
    width: 50%;
    height: 20vh;
    background-color: rgba(230, 237, 243, 0.719);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.849);
    overflow: hidden scroll;
    
}
.output::-webkit-scrollbar{
    display: none;
}
#previous{
    width: 50%;
    height: 25%;
    font-size: 20px;
    color: rgb(22, 22, 22);
}
.list{
    
    width: 100%;
    font-size: 20px;
    color: rgb(22, 22, 22);
   
}
.list-span{
    width: 25px;
    margin: 0;
}
@media screen and (max-width: 768px){
    .container{
        width: 70%;
        height: 60vh;
    }
    .btn-wrapper{
        width: 100%;
    }
    button{
        width: 100%;
    }
    #count{
        font-size: 30px;
    }
    .output{
        width: 80%;
        height: 30vh;
        margin: 1em 2em;
        
    }
    h1{
        margin: auto;
    }
    h3{
        font-size: 20px;
        margin: auto;
    }
    #previous{
        width: 100%;
        height: 60vh;
    }
    .list{
        font-size: 11px;
    }
}
    